*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Comic Neue', cursive;
    box-shadow: inset 0 0 15px blue;
    min-height: 100vh;
}

.logo{
    width: 90px;
}

header{
    margin-bottom: 30px;
    background: linear-gradient(#5d4cfd 0%, rgb(150, 183, 255) 8%, white 15%);
}

header section{
    display: flex;
    align-items: center;
}

header h1{
    flex-grow: 1;
    color: #f8e12e;
    color: black;
    font-size: 2rem;
    text-shadow: 7px 7px 8px black, 
    1px 0px 0px orangered,
    0px 1px 0px orangered,
    -1px 0px 0px orangered,
    0px -1px 0px orangered;
}

header div{
    display: flex;
    position: absolute;
    top: 88px;
    background-color: rgba(0, 0, 0, 0.459);
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

header div h2{
    flex-grow: 1;
    color: white;
    text-align: center;
}

header ul{
    display: flex;
    gap: 10px;
    list-style: none;
}

nav a{
    border-radius: 10px;
    background-color: #f8e12e;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    border: 1px solid orangered;
    box-shadow: inset 0 0 15px orangered;
}

nav a:hover{
    background-color: orangered;
}

.banner{
    width: 100%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.418);
    height: 50vh;
    max-height: 450px;
    object-fit: cover;
}

.active{
    box-shadow: inset 0 0 15px black;
    border: 1px solid black;
}

.active:hover{
    background-color: black;
    color: #f8e12e;
}

main{
    display: flex;
}



main section, main div{
    flex-grow: 1;
    padding: 20px;
}

.promo{
    margin: 0 30px;
}


.promo img{
    margin-top: 10px;
    margin-right: 10px;
    box-shadow: 0px 0px 20px orange;
    border-radius: 50%;
}

main h3{
    font-size: 20px;
    margin: 7px 0;
}

main p, main ul, main ol{
    font-size: 15px;
    padding-left: 25px;
}

main li{
    list-style-position: inside;
    padding: 5px;
}

.ginfo{
    flex-direction: column;
    align-items: flex-start;
}

.ginfo .observation{
    padding: 0 10px;
    text-decoration: underline;
}

main table{
    margin: 30px;
}

.ginfo > h4{
    font-size: 20px;
    margin: 7px 0;
}

td{
    padding: 5px;
    border: 2px solid black;
}

tr:nth-child(even){
    background-color: #fff8c3;
}

th{
    background-color: black;
    color: #f8e12e;
    padding: 5px;
}

.contact{
    display: flex;
    width: 100%;
}

.contact > div{
    width: 50%;
}

/* body{
    min-width: 100%;
    min-height: 100vh;
    font-family: 'Comic Neue', cursive;
    box-shadow: inset 0px 0px 25px #3d77bb;
}

h1{
    text-align: center;
    color: #f8e12e;
    padding: 20px 0;
    background-color: #3d77bb;
    font-size: 1.2rem;
    text-shadow: 7px 7px 8px black, 
    1px 0px 0px orangered,
    0px 1px 0px orangered,
    -1px 0px 0px orangered,
    0px -1px 0px orangered;
}

.banner{
    width: 100%;
    min-height: 15rem;
    max-height: 450px;
    object-fit: cover;
    border: 2px solid black;
}

header section{
    position: relative;
}


nav{
    position: absolute;
    top: 60px;
    width: 100%;
    text-align: center;
}

nav a{
    font-weight: bolder;
    background-color: #1a61b1;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 5px;
    color: white;
    border: 1px solid black;
    box-shadow: 5px 5px 10px black;
    transition: all .3s;
}

nav a:hover{
    background-color: #f8e12e;
    border: 1px solid orangered;
    color: black;
}

.active{
    background-color: green;
}

header h2{
    position: absolute;
    color: white;
    bottom: 20px;
    text-align: center;
    background-color: #1a61b19a;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    margin: 0;
    box-shadow: 0 0 20px blue;
}

main{
    padding: 30px 0;
    text-align: center;
}

main figure, main section, main div{
    display: inline-block;
    vertical-align: top;
}

main section, main div{
    min-width: 250px;
    width: 45%;
    text-align: start;
}

figure.logo{
    min-width: 120px;
    width: 18%;
    text-align: center;
}

#logo{
    width: 120px;
}

h3{
    font-size: 30px;
    margin: 7px 0;
}

p{
    font-size: 20px;
    padding-left: 15px;
}

.promo{
    min-width: 200px;
    text-align: center;
    width: 30%;
}

.promo img{
    box-shadow: 0px 0px 20px orange;
    width: 90%;
    height: 70%;
    border-radius: 50%;
    margin: 40px 0;
}

div p{
    margin-top: 2rem;
} */