*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-width: 100%;
    min-height: 100vh;
    font-family: 'Comic Neue', cursive;
    box-shadow: inset 0px 0px 25px #3d77bb;
}

h1{
    text-align: center;
    color: #f8e12e;
    padding: 20px 0;
    background-color: #3d77bb;
    font-size: 1.2rem;
    text-shadow: 7px 7px 8px black, 
    1px 0px 0px orangered,
    0px 1px 0px orangered,
    -1px 0px 0px orangered,
    0px -1px 0px orangered;
}

.banner{
    width: 100%;
    min-height: 15rem;
    max-height: 450px;
    object-fit: cover;
    border: 2px solid black;

}

header section{
    position: relative;
}


nav{
    position: absolute;
    top: 60px;
    width: 100%;
    text-align: center;
}

nav a{
    font-weight: bolder;
    background-color: #1a61b1;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 5px;
    color: white;
    border: 1px solid black;
    box-shadow: 5px 5px 10px black;
    transition: all .3s;
}

nav a:hover{
    background-color: #f8e12e;
    border: 1px solid orangered;
    color: black;
}

.active{
    background-color: green;
}

header h2{
    position: absolute;
    color: white;
    bottom: 20px;
    text-align: center;
    background-color: #1a61b19a;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    margin: 0;
    box-shadow: 0 0 20px blue;
}

main{
    padding: 30px 0;
    text-align: center;
}

main figure, main section, main div{
    display: inline-block;
    vertical-align: top;
}

main section, main div{
    min-width: 250px;
    width: 45%;
    text-align: start;
}

figure.logo{
    min-width: 120px;
    width: 18%;
    text-align: center;
}

#logo{
    width: 120px;
}

h3{
    font-size: 30px;
    margin: 7px 0;
}

p{
    font-size: 20px;
    padding-left: 15px;
}

.promo{
    min-width: 200px;
    text-align: center;
    width: 30%;
}

.promo img{
    box-shadow: 0px 0px 20px orange;
    width: 90%;
    height: 70%;
    border-radius: 50%;
    margin: 40px 0;
}

div p{
    margin-top: 2rem;
}